body {
    background-color: rgb(39, 39, 39);
    font-family: Arial, Helvetica, sans-serif;
}
    
h1 {
    text-align: center;
    color: white;
    font-size: 200%;
    font-weight: bolder;
    background-color: rgb(58, 118, 141);
    padding: 10px;
}

h2 {
    text-align: center;
    color: white;
    font-size: 200%;
    font-weight: bolder;
    background-color: rgb(86, 185, 169);
    padding: 10px;
}
    
footer {
    color: white;
}
    
table {
    font-family: arial, sans-serif;
    background-color: white;
    border-collapse: collapse;
    margin-top: 2.5%;
    margin-left: 10%;
    width: 80%;
}
    
td,th {
    border: 1px solid white;
    text-align: left;
    padding: 8px;
}
    
.first {
    background-color: gold;
}
        
.second {
    background-color: silver;
}
    
.third {
    background-color: rgb(148, 102, 34);
}

.flags {
    height: 20px;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.center {
    text-align: center;
}